* {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #a7eea6;
    color: #878480;
    height: 100px;
  }

  h1 {
    font-size: 250%;
  }

  nav a {
    color: #878480;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #484c4c;
  }

  .hero {
    background-image: url(../assets/images/Screenshot\ 2023-05-08\ at\ 4.10.55\ PM.png);
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
  }

  h2 {
    color: white;
  }

  main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2%;
    margin: auto;
  }



/* body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
  }
  
  h1 {
    font-size: 300%;
  }
  
  h2 {
    margin: 2% 0;
    font-size: 180%;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  nav a {
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  main {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
  } */