/* * {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #020402;
    color: #878480;
    height: 100px;
  }

  h1 {
    font-size: 250%;
  }

  nav a {
    color: #71f147;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #1c7878;
  }

  .hero {
    background-image: url(../assets/images/Screenshot\ 2023-05-08\ at\ 4.10.55\ PM.png);
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
  }

  h2 {
    color: rgb(9, 9, 9);
  }

  .portfolio-contain {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio-contain>div {
   position: relative;
  }
  
  .portfolio-titles {
    position: absolute;
    bottom: 20px;
    left: 20px
  }


  /* .portfolio-contain>div:first-child {
    flex-basis: 100%;
  } */

  /* main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2%;
    margin: auto;
  } */



/* body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
  }
  
  h1 {
    font-size: 300%;
  }
  
  h2 {
    margin: 2% 0;
    font-size: 180%;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  nav a {
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  main {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
  } */